body {
  margin: 0;
  color: #121312;
  height: 1000px; /* for building scroll effects; remove later */
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

:root {
  font-family: 'Mukta', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}